.caixa-blog {
    background-color: #DE2330;
}

.texto-blog {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #F2A15A;}

.frase-blog {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    /* identical to box height */


    color: #FFFFFF;
}

*{
    border: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.ultimos{
    z-index: -5;
    color: #000;
    height: auto;
    padding-top: 3rem;
    background-color: #fff;
}

.catepost{
    background-color:#FAFAFA;
}

#categorias{
    padding-top: 4rem;
}

.categoria-item{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: none;
    padding: 15px;
    margin-top: 20px;
    height: 6.5rem;
    box-shadow: 0px 12px 24px 6px rgba(222, 35, 48, 0.08);
}

.cats{
    justify-content: space-between;
}

.categoria-item>a>span{
    color: #DE2330;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0.5rem;
}

.categoria-item>a>h5{
    color: black;
}

.categoria-item {  
    position:relative;
}

#blog{
    padding-top: 4rem;
}

.item1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.text-item1 {
    color: #DE2330;
    font-weight: 600;
}

.text-item1:hover{
    color: #8E0332;
    transition: 0.3s;
}

.categoria-descricao{
    color:#000;
    font-weight: 400;
}

.primeiro .banner{
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
    color: #fff;
    border-radius: 10px;
    z-index: 0;
}

.primeiro .thumb{
    object-fit: cover;
    height: 100%;
    width: auto;
    position: absolute;
    left: 0vw;
    /*filter: contrast(0.5);*/
    z-index: -1;
   
}
.primeiro .infos{
    width: auto;
    margin-top: 6%;
    
}

.primeiro .infos .info-categoria{
    justify-content: center;
    text-align: center;
    padding: 8px;
    width: fit-content;
    background-color: #F2A15A;
    border-radius: 25px;
    font-weight: 400;
}

.primeiro .infos .info-categoria:hover{
    background-color: #8E0332;
    transition: 0.3s;
}

.primeiro .infos .post-info1{
    width: 80%;
    display: flex;
    align-items: center;
}

.primeiro .infos .data{
    display: flex;
    margin-left: 46%;
}

.primeiro #data-post{
    font-weight: 400;
    margin-top: 9px;
}

.primeiro .calendario-icon{
    margin-right: 10%;
}

.primeiro .infos .date{
    display: flex;
    flex-direction: column;
    color: #000;
}
.infos .date>p{
    margin-left:0.5rem ;
}

.primeiro .post-title{
    margin-top: 5%;
}

.primeiro .infos .titulo:hover{
    color: #8E0332;
    transition: 0.3s;
}

.primeiro .teste{
    background-color: rgb(0,0,0,0.3);
    z-index: -1;
    width: 100%;
    height: 35%;
    position: absolute;
    top: 65%;
}

.primeiro .data .time{
    display: flex;
}

.primeiro .postagens .banner img{
    height: auto !important;
    width: 100% !important;
}

.segundo .infos{
    height: 100%;
    width: 100%;
}

.segundo .blog-format{
    display: flex;
    margin-bottom:10%;
}

.segundo .infos .data{
    display: flex;
    margin-top: 7%;
    margin-bottom: 7%;
}

.segundo .infos .data .calendario-icon{
    margin-right: 3%;
}

.segundo .infos #data-post{
    margin-top: 12%;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
}

.segundo .infos .info-categoria{
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
    width: fit-content;
    background-color: #F2A15A;
    border-radius: 25px;
    font-weight: 400;

}

.segundo .infos .info-categoria:hover{
    background-color: #8E0332;
    transition: 0.3s;
}


@media (max-width:576px){
    .cats{
        justify-content: center;
    }
}
    
@media(max-width:767px){
    .postagens .infos{
        margin-right: 0rem!important;
        margin-left: 0rem!important;
    }
}

@media(max-width:767px){
    .postagens .banner img{
        height: auto !important;
        width: 100% !important;
    }
    .segundo .banner{
        flex-wrap: wrap;
    }

    .segundo .banner img{
        height: auto !important;
        width: 100% !important;
    }

    .infos .date{
        display: flex;
        flex-wrap: wrap;
    }

    .segundo .infos{
        margin-top: 0.5rem;
        margin-left: 0.5rem!important;
    }
}

@media(max-width:991px){
    .primeiro{
        margin-bottom: 2rem;
    }

    .primeiro .infos{
        margin-top: 0.5rem!important;
    }

    .primeiro .teste{
        width: 0;
    }
    .primeiro .banner{
        height: auto!important;
        width: 100%!important;
    }

    .primeiro .thumb{
        position: relative;
        height: auto!important;
        width: 100%!important;
        border-radius: 10px;
    }

    .segundo .banner>a>img{
        height: 200px;
        width: 200px;
    }
    .postagens .banner img{
        height: 320px;
        width: 320px ;
    }
    .postagens .infos{
        margin-right: 1.5rem;
    }
}

@media(max-width:1199px){
    .primeiro .infos{
        margin-top: 68%;
    }

    .primeiro .banner{
        height: 450px;
        width: 450px;
    }
    .segundo .banner>a>img{
        height: 210px;
        width: 210px;
    }
    .postagens .banner img{
        height: 280px;
        width: 280px;
    }

    .postagens .infos{
        margin-right: 2rem;
    }
}

@media (max-width:1199px) and (min-width:991px) {
    .segundo .infos .date .time{
        display: none;
    }
}

@media(min-width:1200px){
    .primeiro .banner{
        height: 500px;
        width: 500px;
    }

    .segundo .banner>a>img{
        height: 235px;
        width: 235px;
    }

    .postagens .banner img{
        height: 350px;
        width: 350px;
    }

    .postagens .infos{
        margin-right: 2rem;
    }
}

@media(max-width: 1399px) and (min-width: 991px){
    .postagens .infos{
        margin-left: 0.5rem!important;
        margin-right: 0.5rem;
    }
}


.segundo a>div,
.segundo>a{
    display: flex;
}

.segundo .banner{
    display: flex;
    position: relative;
    color: #fff;
    z-index: 0;
    background: none;

}

.segundo .thumb{
    object-fit: cover;
    height: 100%;
    position: relative;
    /*filter: contrast(0.5);*/
    z-index: -1;
    border-radius: 10px;
}

.segundo .infos{
    z-index: 1;
    width: 100%;
    margin-left: 1.5rem;  
    word-break: break-word;
}

.date .data{
    margin-right: 1rem;
    }

.data>span{
    margin-right: 0.2rem;
}

.primeiro .infos{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.segundo .infos h3{
    margin-bottom: 1rem;
    font-size: 20px;
}

.segundo .infos h6{
    margin-top:0.1rem;
    margin-bottom: 1rem;
    color: #000;
    padding: 15px;
    font-size: 10px;
}

.primeiro .data>span{
    margin-top: -0.1rem;
}

.date>h6:nth-child(2){
    margin-right: 1rem;
    color: #000;
}

.primeiro .date>h6{
    margin-top: 0.2rem;
}

.segundo .date> span{
    margin-top: 0.3rem;
}

.ultimos .infos a{
    font-size: 15px;
    color: #000;
}

.postagens .banner{
    display: flex;
    position: relative;
    width: auto;
    color: #fff;
    z-index: 0;
    justify-content: center;
    background: none;
}

.postagens .thumb{
    object-fit: cover;
    height: 100%;
    position: relative;
    /*filter: contrast(0.5);*/
    z-index: -1;
    border-radius: 10px;
}

.banner:hover{
    filter: saturate(0.5);
}

.postagens .infos{
    z-index: 1;
    width: auto;
}

.postagens .infos h6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19px;
    text-align: start;
}

.postagens .infos h6 {
    text-align: center;
    background-color: #F2A15A;
    border-radius: 25px;
    width: 115px;
    color: #000000;
    padding: 5%;
}

.postagens .infos h6:hover{
    background-color: #8E0332;
    transition: 0.3s;
}

.posts .infos a{
    color: black;
    font-size: 15px;
}

.text-teste{
    text-align: justify;
}

.carrossel-posts{
    flex-direction: column;
}

.carrossel-posts>*{
    display: inline-block;
}

.carrossel-posts a,
.carrossel-posts .page-numbers{
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 10px;
    background-color: #EFEFEF;
    box-shadow: 0 8px 24px rgba(112, 144, 176, 0.15);
    font-size: 1.375rem;
    font-weight: 500;
    color: black;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.carrossel-posts .page-numbers:hover{
    color: #8E0332;
}

.carrossel-posts a:last-child{
    padding: 0;
    background-color: #FAFAFA;
    box-shadow: none;
}

.carrossel-posts a:first-child{
    padding: 0;
    background-color: #FAFAFA;
    box-shadow: none;
}

.carrossel-posts a:last-child:hover,
.carrossel-posts a:first-child:hover{
    color: #8E0332;
}

.carrossel-posts span.page-numbers.current{
    color: #fff;
    background-color: #8E0332;
}

.title {
    font-size: 32px;
}

#recent-post:hover{
    color: #000;
}

.infos .recent-info{
    display:flex;
    align-items: center;
}

.infos .recent-info .recent-date{
    background-color: transparent;
    margin-top: 9px;
    font-weight: 400;
}

.infos .recent-info .recent-date:hover{
    background-color: transparent;
}

@media (max-width: 375px) {
    .primeiro .infos .post-info1{
        margin-top: 6%;
    }
    .primeiro .infos .calendario-icon{
        margin-left: -20%;
    }
    .segundo .infos .calendario-icon{
        height: 25px;
        width: 25px;
        margin-top: 6%;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .primeiro .infos .post-info1{
        margin-top: 6%;
    }
    .primeiro .infos .calendario-icon{
        margin-left: 7%;
    }
    .segundo .infos .calendario-icon{
        height: 25px;
        width: 25px;
        margin-top: 7%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .primeiro .infos .calendario-icon{
        margin-left: 185px;
        margin-right: 5%;
    }
    .primeiro .infos .post-info1{
        margin-top: 30px;
    }
    .segundo .infos .calendario-icon{
        margin-top: -1%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .categoria-item{
        width: 25%;
    }
    .primeiro .infos .post-info1{
        margin-top: -330px;
    }
}

@media (min-width: 1052px) and (max-width: 1439px) {
    .primeiro .infos .post-info1{
        margin-top: -330px;
    }
}

@media (min-width: 1440px){
    .primeiro .infos .calendario-icon{
        margin-left: -28%;
    }
}

