

.navbar{
    background-color: var(--vermelho-escuro);
}
.menu-item{
    margin-left: 50px;
}
.menu-item a{
    font-size: 20px;
    color: var(--branco);
}
.menu-item:hover a{
    border-bottom: 2px solid var(--laranja-amarelado) !important;
}
.active>a{
    border-bottom: 2px solid var(--laranja-amarelado) !important;
}
