
.fasjusej {
    color: #FFB850;
}

.btn-servicos { 
    padding: 14px 43px;
    width: 281px;
    height: 49px;
    background: #DE2330;
    box-shadow: 0px 12px 24px 6px rgba(242, 161, 90, 0.08), 0px 24px 48px 6px rgba(242, 161, 90, 0.08);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.caixa-um {
    margin-top: -79px;
}

.btn-servicos:hover {
    color: white;
}

.btn-conheca {
    padding: 14px 50px;
    width: 234px;
    height: 49px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    background: #DE2330;
    box-shadow: 0px 12px 24px 6px rgba(242, 161, 90, 0.08), 0px 24px 48px 6px rgba(242, 161, 90, 0.08);
    border-radius: 4px;
}

.btn-conheca:hover {
    background: #8E0332;
    transition: 0.3s;
}

@media (max-width:411px) {
    .btn-conheca {
        padding: 14px;
        width: 234px;
        height: 49px;
        text-decoration: none;
        color: white;
        background: #DE2330;
        box-shadow: 0px 12px 24px 6px rgba(242, 161, 90, 0.08), 0px 24px 48px 6px rgba(242, 161, 90, 0.08);
        border-radius: 4px;
    }
    .btn-servicos {
        padding: 14px;
        width: 301px;
        height: 49px;
        background: #DE2330;
        box-shadow: 0px 12px 24px 6px rgba(242, 161, 90, 0.08), 0px 24px 48px 6px rgba(242, 161, 90, 0.08);
        border-radius: 4px;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
    }
}

.card1 {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    height: 235px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #000000;
}

.card2 {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin-left: 0px;
    height: 235px;
    margin-left: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #000000;
}




.comeco {
    background-image: url('../images/fundohome.svg') !important;
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right;
}

/* metricas */
.card-metrica{
    border-radius: 4px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.1);
}
.card-metrica-content h1{
    font-weight: 700;
}
.card-metrica-content + .card-metrica-content{
    border-left: 3px solid #F2A15A;
}
.titulo-metrica h1:nth-child(2){
    color: #F2A15A;
}


@media (max-width: 1220px) {
    .secao1 {
        background-size: 40%;
        transition: 0.2s;
    }
    .comeco {
        background-size: 0%;
    }
    .caixa-um {
        display: none;
    }
}

@media (max-width: 920px) {
    .secao1 {
        background-size: 0%;
    }
}


.secao2 {
    background-color: #FAF9F8;
}

.secao3 {
    background-image: url('../images/final.jpg') !important;
    background-size: contain;
}

.texto {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    
    color: #000000;
}

.mais {
    color: #F2A15A;
    font-weight: bolder;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.colunaa {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
}

.numeros {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 4px;  
}

.secao3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('assets/icons/imgfinal.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.pergunta {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
/* identical to box height */
    letter-spacing: 0.1em;
    color: black;
}

.frase {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}

.paragrafo {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;

    color: #000000;
}

.resumo {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}


.cores {
    color: #DE2330;
}
.resumo1 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.frase-final {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.chamadaa {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}



    
