
.card-membro-content{
    /* text-align: center; */
    margin: 0 auto;
    width: 90%;
    min-height: 250px;
    max-height: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.1);
}
.img-membro {
    margin-bottom: 10px;
    width: 60%;
    border-radius: 8px;
}
/* metricas */
.card-metrica{
    border-radius: 4px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.1);
}
.card-metrica-content h1{
    font-weight: 700;
}
.card-metrica-content + .card-metrica-content{
    border-left: 3px solid #F2A15A;
}
.titulo-metrica h1:nth-child(2){
    color: #F2A15A;
}


/* Inicio pagina */

.linha {
    display: flex;
    justify-content: space-between;
}

.trib-redondo {
position: relative;

}

.ornament {
    position: absolute;
    width: 100px;
    height: 38.84px;
    left: 291px;
    top: 1096px;
    z-index: -9;
}

.img-direita {
    width: 350px;
    height: 240px;
}

.orn13 {
    position: absolute;
    width: 129.76px;
    height: 125px;
    left: 1162px;
    top: 800px;
    z-index: -9;
}

.orn77 {
    position: absolute;
    width: 92.35px;
    height: 80px;
    left: 10px;
    top: 1171px;
    z-index: -9;
    background: #FFB850;
    opacity: 0.5;
}

.segundo {
    background-color: #FAF9F8;
}

.elipse {
    width: 75px;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px 6px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 350px;
    height: 350px;
}


.card-content {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px 6px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin-bottom: 60px;
    width: 100%;
    height: 350px;
}

.card-content-last {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    height: 317px;
}

.card-content-paragrafo {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    
}

.titulo {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #000000;
}

.titulo1 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}


/* Ultima secao */

.fasjusej {
    color: #FFB850;
}

.btn-servicos {
    padding: 14px 43px;
    width: 281px;
    height: 49px;
    background: #DE2330;
    box-shadow: 0px 12px 24px 6px rgba(242, 161, 90, 0.08), 0px 24px 48px 6px rgba(242, 161, 90, 0.08);
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.btn-servicos:hover {
    color: white;
}

.btn-conheca {
    padding: 14px 50px;
    
    width: 234px;
    height: 49px;
    text-decoration: none;
    color: white;
    background: #DE2330;
    box-shadow: 0px 12px 24px 6px rgba(242, 161, 90, 0.08), 0px 24px 48px 6px rgba(242, 161, 90, 0.08);
    border-radius: 4px;
}

.btn-conheca:hover {
    color: white;
}

.card1 {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    height: 235px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #000000;
}

.card2 {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin-left: 0px;
    height: 235px;
    margin-left: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #000000;
}

.secao2 {
    background-color: #FAF9F8;
}

.secao3 {
    background-image: url('../images/final.jpg') !important;
    background-size: contain;
}

.texto {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    
    color: #000000;
}

.mais {
    color: #F2A15A;
    font-weight: bolder;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.colunaa {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
}

.numeros {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 4px;  
}

.secao3 {
    background-image: url('assets/icons/imgfinal.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.pergunta {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
/* identical to box height */
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.54);
}

.frase {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}

.paragrafo {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    
    color: #000000;
}

.resumo {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}


.cores {
    color: #DE2330;
}
.resumo1 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.frase-final {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.chamadaa {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.final-text {
    margin-top: 100px;
}