:root {
    /* colors */
    --vermelho-escuro: #8E0332;
    --vermelho:#B10728;
    --vermelho-claro:#DE2330;
    --laranja-escuro: #F2563F;
    --laranja:#FF814B;
    --laranja-claro:#F2A15A;
    --laranja-amarelado: #FFB850;
    --font-color:#000000;
    --font-color-2:rgba(0, 0, 0, 0.54);
    --branco:#FFFFFF;

  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: eightiesregular;
    src: url('../fonts/eighties-regular-webfont.woff2') format('woff2'),
         url('../fonts/eighties-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: calc(44px + 16 * ((100vw - 320px) / 1000));
}

h2 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: calc(36px + 22 * ((100vw - 320px) / 1600));
    
}

h3 {
    font-weight: 600;
    font-family: 'Poppins';
    font-size: calc(30px + 18 * ((100vw - 320px) / 1600));
}

h4 {
    font-weight: 600;
    font-family: 'Poppins';
    font-size: calc(24px + 14 * ((100vw - 320px) / 1600));
}


h5 {
    color: var(--font-color-2);
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 80%;
    font-size: calc(18px + 8 * ((100vw - 320px) / 1600));
}

h6 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
}

a, p {
    font-family: 'Poppins';
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 0;
}

p {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
}

ul, li {
    list-style: none !important;
}
hr {
    border: 1px dashed gray;
    background-color: transparent;
}